@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
body {
  overflow-x: hidden;
  font-family: sans-serif;
  color: #505962;
}

/* .offset:before {
  height: 3.8rem;
  margin-top: -3.8rem;
  content: "";
  display: block;
}
 */
/*--- navbar---*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(248, 252, 251);
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}
.carousel-caption {
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.carousel-caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 1;
  font-size: 1.1rem;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}
.sub_heading {
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(18, 165, 18);
}
.forest {
  width: 100%;
  height: 80%;
}

/*portfolio*/
.jumb {
  border-radius: 0;
  padding: 3rem 0 2rem;
  margin-bottom: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
  padding-top: 1.9rem;
}
.heading-under-line {
  width: 3rem;
  height: 0.2rem;
  background-color: green;
  margin: 0 auto 2rem;
}
.portfolio {
  overflow: hidden;
}
.portfolio img {
  max-width: 100%;
  transition: transform 0.5s ease;
}
.row.no-padding [class*="col-"] {
  padding: 0;
}
.portfolio img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

/*card*/
.card {
  margin: 2rem;
}

/*contact*/
footer {
  background-color: #40474c;
  color: white;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}

footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: green;
}

hr.socket {
  border-top: 0.2rem solid grey;
  width: 100%;
}

/*media*/
/* @media (max-width: 767px) {
  .carousel-caption h1 {
    font-size: 2.3rem;

    letter-spacing: 0.15rem;

    padding-bottom: 0.5rem;
  }
  .carousel-caption h3 {
    font-size: 1.2rem;

    padding-bottom: 1.2rem;
  }

  .btn-lg {
    border-radius: 1;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
  i.lead {
    font-size: 1rem;
  }
} */
